@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-Black.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-BlackItalic.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-Bold.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-BoldItalic.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-ExtraBold.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-ExtraBoldItalic.ttf") format('woff');
}

@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-ExtraLight.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-ExtraLightItalic.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-Italic.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-Light.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-LightItalic.ttf") format('woff');
}
@font-face {
  font-family: 'Poppins';
  src:  url("./assets/font/Poppins/Poppins-Medium.ttf") format('woff');
}
:root {
  --body_background: white;
  --body_color: black;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
}

* {
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  height: fit-content;
}

.App{
  background-color: var(--body_background);
  color: var(--body_color);
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;

}

.Bank {
  width:fit-content;
  height:fit-content;
  margin-top: 1rem;
  display: flex;
  flex-direction:  row;
}

.Nav {
  width:382px;
  height: 1130px;
  background-color: #5A57FE;
  display: flex;
  flex-direction: column;
}

.mid-sction {
  width: fit-content;
}

.section {
  width: fit-content ;
  height: fit-content;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

canvas {
  color: var(--body_color);
}


.Header {
  width:1287px ;
  height:100px;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.icon {
  width: 340px;
  height: 100%;
  margin-left: 350px;
  display: flex;
  flex-direction: row;
}
.push{
  margin: 2.5rem;
  position: relative;
}

.small {
  width: 28.69px;
  height: 30.28px;
  cursor: pointer;
}

.smaller {
  height: 11.15px;
width: 11.15px;
border-radius: 0px;
position: absolute;
left:22px;
}
.pic{
  margin-top: 2rem;
  position: relative;
 
}

.pic1 {
  width: 52.59px;
  height: 52.50px;
  border-radius: 100px;
   cursor: pointer;
}

.dot1 {
  height: 11.16px;
width: 11.16px;
border-radius: 0px;
position: absolute;
left:39.75px;
top: 3px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

.text h4{
font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
}

.text p{
  color: #A5B4CB ;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  }

  .Name {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .Name h2{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
  }


.pic2 {
  width: 44.39px;
  height: 45px;
  }

  .nav1 {
    height:100%;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
  }

 .main-nav li {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    Margin-right: 2em;
    padding-left: 1em;
    cursor: pointer;
  }

  li a {
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
padding: 5px;
margin: .4em;
align-content: center;
border-radius: 7.56198px;
text-decoration: none;
  }

  li img {
height: 22.5px;
width: 22.5px;
border-radius: 0px;
margin-top: 1em;
  }

  .support-nav {
    margin-top: 15em;
    gap: 5rem;
  }

  .support-nav li {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 1em;
    Margin-right: 2em;
    cursor: pointer;
  }

  .stan {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 1em;
    margin-left: 1.8em;
  }



.eye {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.eye p{
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;

}

.eye img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.arrow {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.arrow p {
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
 
}

.arrow img{
  width: 6.40px;
  height: 12.97px;
  margin-top: .3em;
  cursor: pointer;
}


.head {
  display: flex;
  flex-direction: row;
  width: fit-content !important;
}

.second {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.income {
  width: 415px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.expense {
  width: 415px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}


.up {
  display: flex;
  flex-direction: row;
  gap:10rem;
  margin-top: 1em;
  margin-left: 1em;
  border-right: #000000;
}
.down {
  display: flex;
  flex-direction: row;
  gap:10rem;
  margin-top: 1em;
  margin-left: 2em;
}

.weird {
  display: flex;
  flex-direction: row;
  gap: .9em;
  margin-left: 2em;
}

.income h4 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-transform: capitalize;
}

.expense h4 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-transform: capitalize;
}

.weird .boom {
  Width : 15.81px;
  Height :9.9px;
  margin-top: .3em;
 
}

.weird .boom1 {
  Width : 15.81px;
  Height :9.9px;
  margin-top: .3em;
 
}

.guy {
  Width : 23.44px;
  Height :23.44px;
  border-radius: 4.02px;
  background: #22B573;
  padding: .1em;
}
.guy1 {
  Width : 23.44px;
  Height :23.44px;
  border-radius: 4.02px;
  background: #7468E4;
  padding: .1em;
}
.weird .boom2 {
  Width : 17.44px;
  Height :17.44px;
 
}
.weird .boom3 {
  Width : 17.44px;
  Height :17.44px;
}

.Mystyle{
  background-image: url('../assets/Group 1000003741.svg');
  width:398px;
  height:209.44px;
  top:10px;
  font-size:50px;
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  display:flex;
  flex-direction:column;
  border-radius:22.66px;
}

.second .text {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
align-items: center;
text-transform: capitalize;
}

.second .p {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
text-align: center;
text-transform: capitalize;
margin-top: .5em;
color: #22B573;
}

.second .q {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;

margin-top: .5em;
margin-left: 1.5em;
}

.second .R {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
margin-top: .1em;
margin-left: 2em;
text-transform: capitalize;
}

.show-side-br {
  display: none;
}

.second .r {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
text-transform: capitalize;
color: #FE626F;
text-align: right;
}

.btn-gang  .dot44 {
  Width:6.78px;
  Height:6.78px;
  margin-top: .5em;
  margin-rigt: .2em;
}

.btn-gang p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-transform: capitalize;
margin-left: .2em;
}

.btn {
  margin-left: 10em;
  margin-top: -1em;
}

.btn button {
width: 104px;
height: 32px;
background: #EBFFF3;
border-radius: 4.8196px;
outline: none;
border: none;
}


.btn .green {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: #22B573;
}

.timeline .timeline-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px ;
  gap: 1em;
  margin-top: 1em;

}
.timeline img {
  width: 24px;
  height: 24px;
  
}

.deal {
  margin-left: 1.5em;
  display: flex;
  flex-direction:row;
  margin-top: 1em;
}

.deal h4 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
text-transform: capitalize;
}

.deal p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
color: #A5B4CB;
margin-left: 9em ;

}

.deal img {
  width: 19.31px;
  height: 22.19px;
  border: 1px solid #A5B4CB;
  margin-left: 1em ;
}

.divide {
width: 14px;
height: 0px;
border: 1px solid #A5B4CB;
transform: rotate(89.54deg);
margin-left: 4px;
margin-top: .6em;
}

.help {
  display: flex;
  flex-direction:row;
 
}

.help h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 1em;
}

.help p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #A5B4CB;
margin-left: 12em;
}

.box {
  display: flex;
  flex-direction:row;
}

.box p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #A5B4CB;
margin-left: 1.5em;
}

.overview {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
text-transform: capitalize;
margin-left: 1em;
margin-top: 1em;
}

.main-overview {
  display: flex;
  flex-direction:row;
  margin-left: 1em;
  gap: .5em;
  margin-top: 1em;
}

.main-overview img {
height: 10.779455661773682px;
width: 10.779455661773682px;
border-radius: 0px;
margin-top: .5em;
}

.main-overview p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-transform: capitalize;
margin-top: .2em;
}

.sub-overview {
  display: flex;
  flex-direction:row;
  margin-left: 17em;
}

.sub-overview img {
height: 20px;
width: 20px;
border-radius: 0px;
margin-top: .2em;
cursor: pointer;
}

.sub-overview p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-transform: capitalize;
}

.transaction  {
  display: flex;
  flex-direction:row;
  margin-left: 1em;
  margin-top: .8em;

}

.transaction h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}



.see {
  display: flex;
  flex-direction:row;
  margin-left: 17em;
  gap: .5em;
}
.see p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
text-transform: capitalize;
color: #A5B4CB;
}
.download {
width: 20px;
height: 20px;

}
.downkey  {
  width: 10px;
  height: 5px;
  margin-top: .5em;
  }

.Ben {
    display: flex;
    flex-direction:column;
    margin-top: 2em;
}

.Bitcoin {
  display: flex;
  flex-direction:row;
  margin-left: 1em;
  gap: 2em;
}

.Bitcoin-img {
  display: flex;
  flex-direction:row;
  gap: .5em;
}
.Bitcoin-img img {
  width: 29.25px;
height: 29.25px;
}

.Bitcoin-img p {
font-family: 'Poppins';
font-size: 10.2375px;
line-height: 12px;
margin-top: .7em;
}

.Bitcoin-text {
  display: flex;
  flex-direction:row;
  gap: 3em;
  margin-left: 6em;
}

.Bitcoin-text p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10.2375px;
line-height: 15px;
text-transform: capitalize;
margin-top: .6em;
}

.Bitcoin-text .complete {
width: 79px;
height: 27.09px;
background: #EBFFF3;
border-radius: 3.65625px;
outline: none;
border: none;
margin-top: .1em;
}

.Bitcoin-text .accept {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
color: #22B573;
margin-top: .1em;
}
.seperate {
height: 0px;
width: 684px;
border: 1px solid #ECECEC;
margin-top: 1em;
margin-left: 1em;
margin-bottom: 1em;
}

.pending {
width: 79px;
height: 27px;
background: #FFF1ED;
border-radius: 3.65625px;
outline: none;
border: none;
margin-left: 2em;
}

.pending .pend {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
color: #FFAA90;
}

.reject{
  width: 79px;
height: 27px;
background: #FFEBEB;
border-radius: 3.65625px;
outline: none;
border: none;
margin-left: 1.7em;
}

.reject .rejected {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
color: #B53C22;
}

.deal p.hid {
  display: none;
}

@media only screen and (max-width: 768px) {

  .App {
    width: fit-content;
  }
  .Bank {
    width: fit-content;
  }

  .mid-sction {
    width: fit-content;
  }

  .Header {
    gap: 0;
    width: 685px;
  }

  .show-side-br {
    display: none;
  }
  

  .section {
    width: 768px;
  }

  .svpush {
    margin-left: 0;
  }

  .icon {
    margin: 0;
  }

  .push {
    margin-right: 1rem;
  }

  .moveleft {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
    width: 239px !important;
  }

  .topmoveleft {
    width: 213.18px !important;
    height: 112.18px !important;
    left: 13.25px !important;
    top: 50.73px !important;
    position: absolute !important;
  }

  .topmoveleft img {
      position: absolute !important;
      width: 60.11px !important;
      height: 60.11px !important;
      left: 81.39px !important;
      top: 70.66px !important;
  }

  .topmoveleft p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 9.6352px !important;
line-height: 14px !important;
text-align: center !important;
left: 144.53px !important;
top:89.87px !important;

  }
  .ontopmoveleft {
    width: 239px !important;
    height: 126.12px !important;
  }
  .stan {
    margin-left: 0.5rem;
    gap: 4rem;
  }
  .stan .eye p {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 8.43081px ;
  line-height: 13px;
  text-transform: capitalize;
  

  }
  .stan .eye {
    gap: 0;
    width: 60px;
    height: 26.85px;
    margin-left: .5rem;
  }

  .stan .eye img {
    display: none ;
  }

    .arrow p {
      font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 8.43081px;
  line-height: 13px;
  text-transform: capitalize;
 
    }

    .arrow img {
      width: 3.9px;
      height: 7.81px;
      margin-top: .2rem;
    }
  .axterik {
    margin-left: 1rem !important;
  }

  .zahr {
    margin-top: 0 !important;
    margin-left: 0 !important;
    gap: 20px !important;
  display: flex;
  justify-content: center;
  }
.life1 {
  width: 18.07px !important;
height: 18.07px !important;
padding: -.4em !important;
position: relative;
margin-left: .5em !important;
  
}

.life1 img {
  Width:10.54px !important;
  Height:10.54px !important;
  position: absolute;
  left: 20%;
  top: 20%;
}

.zahr p {
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 7.2264px;
line-height: 11px;
text-align: center;
text-transform: capitalize;

}



.income {
  width: 209.01px;
height: 153.31px;
}

.income .up {
  gap: 3.5rem;
}

.income .thefirst {
  width: 209.01px !important;
}

.income .thefirst canvas {
  height: 153.31px !important;
}

.income .disapper {
  gap:.5em !important;
}

.income .why-far {
  margin: 0 !important;
}

.expense .why-far {
  margin-left: 2em !important;
}


.income .disapper p {
  font-size: 5.39265px !important;
  line-height: 8px !important;
}

.expense {
  width: 207.8px;
height: 152.43px;
}

.expense .down {
  gap: 3.5rem;
  margin-left: 1em ;
}

.expense .thesecond  {
  width: 209.01px !important;
}

.expense .thesecond canvas {
  height: 153.31px !important;
}

.expense .takeout p {
  font-size: 5.36149px !important;
line-height: 8px !important;
}

.expense .takeout .out-out {
  margin-left: .5em;
}
  .second {
    display: flex;
    flex-direction: column;
  }

  .second .row-boss {
    display: flex;
    flex-direction: row;
  }

  .second .row-boss .boss-row {
    width: 300px !important;
  }

  .second .row-boss .boss-row .filler-boss {
    width: 275px !important;
  }
  .second .hide-boss {
    display: none !important;
  }

  .btn-gang .btn   {
    margin-left: 6em;
  }

  .deal-time {
    width: 283px !important;
  }

  .deal h4 {
    font-size: 13px;
    line-height: 20px;
  }

  .deal p {
    display: none;
  }

  .deal p.hid {
    display: flex;
    margin-left: 4.5em;

  }

  .deal img {
    display: none;
  }
  .help p {
    margin-left: 4em;
  }

  .idan {
    width: fit-content !important;
  }
  .sub-overview {
    margin-left: 15em;
  }

  .Nav {
    width: fit-content;
    padding-left: -2em;
  }

  .nav1 {
    margin-left: 0;
  }

  .Name {
    margin-left: 0;
    padding-left: 1em;
  }

  .Name h2.fontface {
    display: none;
  }

  .main-nav li {
    background-color: none ;
  }
  .main-nav a.mute {
    display: none;
  }

  .support-nav  a.mute {
    display: none;
  }

  .idan2 {
    width: 600px !important;
    height: fit-content !important;
    padding-right: 2em;
  }

  .idan2 .seperate {
    width: 570px;
  }

  .idan2 .see {
    margin-left: 10em;
  }

  .Bitcoin-text {
    margin-left: 3em;
  }

}

@media only screen and (max-width: 425px) {
  .Nav {
    display: none;
  }
  .Header {
    width: 340px !important;
    padding: 1em;
  }

  .svpush {
    display: none;
  }
  .show-side-br {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .icon .pic {
    margin-top: 0;
  }

  .bigman-ting {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 2em;
  }
  .bigman-ting p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
text-transform: capitalize;
    margin-left: 2em;
  }

  .boxo {
    width: 41px;
    height: 41px;
  }

  .icon .push {
    display: none;
  }

  .icon .text {
    display: none;
  }

  .ss-bar {
    display: flex;
    flex-direction: row;
    gap: 4em;
  }

  .head {
    display:  flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1em;
    width: fit-content !important;
    margin-right: 0 !important;
    margin-bottom: 4em;
  }

  .moveleft {
    height: fit-content !important;
    margin-top: 0 !important;
    margin-bottom: 9rem !important;
  }
  
  .thefirst canvas {
    width: 300px !important;
  }

  .thesecond canvas {
    width: 300px !important;
  }

  .takeout {
    gap: 1em !important;
  }
  .almighty {
    gap: 1em !important;
  }

  .almighty .why-far {
    margin-left: 5.5rem !important;
  }

  .up {
    gap: 9em !important;
  }

  .down {
    gap: 9em !important;
  }

 .takeout .why-far {
    margin-left: 9rem !important;
  }
  .second {
    width: fit-content !important;
    gap: 2em;
    margin-top: 2em;
  }

  .idan {
    width: fit-content !important;
    margin: 0 !important;
    border: 0 !important;
  }

  .main-overview  p {
    font-size: 7.54278px !important;
  line-height: 11px !important;
  margin-top: 1em;
  }

  .sub-overview {
    margin-left: 10em;
    font-size: 7.54278px !important;
    line-height: 11px !important;
  }

  .idan .main-idan {
    width: 300px !important;
    margin: 0 !important;
    height: 150px !important;
  }

  .idan .main-idan canvas {
    width: 350px !important;
    height: 250px !important;
  }

  .row-boss {
    display: flex;
    flex-direction: column !important;
  }


  .idan2 {
    width: fit-content !important;
    margin: 0 !important;
    border: 0 !important;
  }
  .transaction {
    margin: 0 !important;
  }
  .transaction h3 {
    font-size: 12.7179px !important;
line-height: 19px !important;
margin-left: .5em;
margin-top: 1em;
  }
  .see {
    margin-left: 2.5em  !important;
    margin-top: 1em;
  }

  .see p {
    font-size: 9.50446px !important;
    line-height: 14px !important;
  }

  .Bitcoin {
    gap: 0;
  }

  .Bitcoin p {
    font-size: 7.48476px !important;
line-height: 9px !important;
  }

  .Bitcoin-text {
    margin-left: 1em;
    gap: .5em;
  }


  .complete {
    margin-left: 0;
    width: 57.76px !important;
    height: 19.81px !important;
  }

  .reject {
    margin-left: 0;
    width: 57.76px !important;
    height: 19.81px !important;
  }

  .pending {
    margin-left: 0;
    width: 57.76px;
    height: 19.81px;
  }

  .seperate {
    width: 300px !important;
  }

  .mid-sction {
    height: fit-content !important;
  }

  .Bank {
    height: fit-content;
  }
  
  .hidden-leaf {
    display: flex;
    margin-top: 4rem !important ;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #282c34;
    display: flex;
    flex-direction: column;
  }

  .row-boat {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }


  .hidden-leaf  .Name {
    display: block;
    margin-top: 0;
    padding: 0;
  }
  .hidden-leaf  .Name img {
    margin-left: 5em;
    width: 26.02px;
    height: 24.66px;
  }
  .hidden-leaf  .Name h2 {
    display: block;
    color: #0177FB;
    font-size: 16.1754px;
    line-height: 24px;
    margin-left: 3em;
  }
  .hidden-leaf .nav1 {
    margin-top: 0;
    width: fit-content;
  }
  .hidden-leaf .nav1 .main-nav {
    width: fit-content;
  }
  .hidden-leaf .nav1 .main-nav  .li-beloved  {
    width: fit-content;
  }
  .hidden-leaf .nav1 .main-nav  .li-beloved li {
    gap: 0;
    padding: 0;
    margin-right:0 ;
    width: fit-content !important;
  }
  .hidden-leaf .nav1 .main-nav  .li-beloved li img {
    filter: brightness(70%);
  }

  .hidden-leaf .nav1 .main-nav  .li-beloved li a {
    display: block;
    margin-left: .5em;
  }

  .hidden-leaf .support-nav  {
    width: fit-content;
  }
   
  .hidden-leaf .support-nav ul {
    width: fit-content;
  }

  .hidden-leaf .support-nav ul li  {
    gap: 0;
    padding: 0;
    margin-right:0 ;
    width: fit-content !important;
  }

  .hidden-leaf .support-nav ul li img {
    filter: brightness(70%);  
  }

  .hidden-leaf .support-nav ul li a {
    display: block;
    margin-left: .5em;
  }
}